/* ==========================================================================
   #UI NAVBAR
   ========================================================================== */


/*

*/

@if $add-ui-css {

.nav {
    list-style: none;
    margin-left: 0
}

ol.nav {
    list-style: none;
    margin-left: 0;
  }

.nav ol {
    // display: block;
    // list-style-type: decimal;
    // -webkit-margin-before: 1em;
    // -webkit-margin-after: 1em;
    // -webkit-margin-start: 0px;
    // -webkit-margin-end: 0px;
    // -webkit-padding-start: 40px;
}

.nav li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.nav>li, .nav>li>a {
    display: inline-block;
    zoom: 1;
}

.cf:after, .nav:after, .media:after, .island:after, .islet:after, .matrix:after, .multi-list:after, .stat-group:after {
    content: "";
    display: table;
    clear: both;
}



}


.nav>li,
.nav>li>a {
    display: inline-block;
    *display: inline;
    zoom: 1
}

.nav--stacked>li {
    display: list-item
}

.nav--stacked>li>a {
    display: block
}

.nav--banner {
    text-align: center
}

.nav--block,
.options {
    line-height: 1;
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
    white-space: nowrap
}

.nav--block>li,
.options>li {
    letter-spacing: normal;
    word-spacing: normal
}

.nav--block>li>a,
.options>li>a {
    padding: 12px
}

.nav--fit {
    display: table;
    width: 100%
}

.nav--fit>li {
    display: table-cell
}

.nav--fit>li>a {
    display: block
}

.nav--keywords>li:after {
    content: ", "
}

.nav--keywords>li:last-child:after {
    display: none
}

