// TOGGLE UI
// (OTHERWISE JUST SHOW INUITCSS STYLE)
$add-ui-css: true;
$font-p-size: 16px;
// FONTS
$font-face-header: Oswald,
sans-serif;
// BRANDING
$brand-color: hsl(200, 50%, 50%);
$brand-light: hsl(0, 0%, 100%);
$brand-dark: hsl(0, 0%, 20%);
$brand-face: Open-sans, sans-serif;

