// TOGGLE UI
// (OTHERWISE JUST SHOW INUITCSS STYLE)
$add-ui-css: true;
// BRANDING
$brand-color: hsl(360, 50%, 50%);
$brand-light: hsl(0, 0%, 100%);
$brand-dark: hsl(0, 0%, 20%);
$brand-face: Open-sans,
sans-serif;
// COLORS
$primaryColor: hsl(150, 50%, 95%);
$background-color: hsl(0, 0%, 98%);
$font-h-color: hsl(0, 0%, 30%);
$font-p-color: hsl(0, 0%, 10%);
$font-p-size: 18px;
// FONTS
$font-face-header: Oswald,
sans-serif;