/* ==========================================================================
   #UI LAYOUT
   ========================================================================== */


/*

 */

@if $add-ui-css {
  .site {
    max-width: 1280px;
    margin: 20px auto;
    background: #fff;
    padding: 0 $unit-base;
  }
}